.slider-container {
    color: white;
    margin-left: 20px;
}

.slider {
    margin: 10px 0 10px 20px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}

.slider::-webkit-scrollbar{
    display: none;
  }

