.slider-container {
    color: white;
    margin-left: 20px;
}

.slider {
    margin: 10px 0 10px 20px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.slider::-webkit-scrollbar{
    display: none;
  }

img {
    margin: 0 4px;
    height: 190px;
    transition: transform 300ms;
    cursor: pointer;
}

img:hover {
    transform: scale(1.1);
}
