.container {
  background-color: rgb(175, 175, 175);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.trailer {
  width: 80%;
}

.top {
  display:flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.first {
  cursor: pointer;
  text-decoration: none;
  margin-right: 8px;
  background-color: rgb(175, 175, 175);
  color: blue;
}

.second {
  background-color: rgb(193, 0, 32);
  color: white;
  border: none;
}

.image {
  display: flex;
  align-items: center;
}

img {
  border-radius: 10px;
  max-height: 300px;
  object-fit: contain;
}

.description {
  margin-top: 10px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 70%;
}

.above-button {
  height: 90%;
}

.bottom-buttons {
  margin-top: 30px;
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  width: 130px;
  height: 35px;
}

h1 {
  font-weight: 900;
  font-size: 3em;
}

.rating-row{
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

ngb-rating {
  outline: none;
  color: yellow;
  font-size: 1.5em;
  margin-right: 2px;
}

.vertical-separator {
  margin: 0px 7px;
}

.rating-number {
  margin-left: 5px;
}

.tags {
  margin-top: 10px;
  font-size: 1.3em;
}

.progress-spinner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  text-align: center;
}

.bottom {
  margin: 20px 0;
  background-color: white;
  border-radius: 20px;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.buttons a {
  display: flex;
  align-items: center;
  color: blue;
  cursor: pointer;
}

.progress-spinner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

