<div class="container">
  <div *ngIf="movieService.isLoadingObs | async" class="progress-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div class="top">
    <div class="description">
      <div class="above-button">
        <h1>Great Film</h1>
        <div class="rating-row">
          <span><ngb-rating [max]="5" [(rate)]="starRating" [readonly]="true"></ngb-rating> 4.3</span>     |     <span>2h 13min</span>
        </div>
        <div class="tags">
          <span>Action</span>
          <span>Romance</span>
          <span>Comedy</span>
        </div>
      </div>
      <div class="buttons">
        <a class="first">Watch Trailer</a>
        <button class="second">Watch Full Movie</button>
      </div>
    </div>
    <div class="image">
      <img [src]="imageUrl + movie?.poster_path" alt="" height="270px">
    </div>
  </div>
</div>
