.nav-bar {
    width: 97%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-container {
  display: flex;
  justify-content: center;
}

img:hover {
    cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  height: 25px;
  width: 100px;
  color: white;
}

.menu-button {
  display: flex;
  height: max-content;
  background-color: rgba(0, 0, 0, .4);
  font-size: 24px;
  padding: 3px;
  border-radius: 3px;
}

.space-holder {
  justify-self: stretch;
}

mat-icon {
  cursor: pointer;
}
